src/main/resources/META-INF/service-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.itjiehun.com/schema/magic/service" 
			xmlns:tns="http://www.itjiehun.com/schema/magic/service" 
			targetNamespace="http://www.itjiehun.com/schema/magic/service" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:annotation>
		<xsd:documentation><![CDATA[
		Spring Extension Service
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="identifiedType" abstract="true">
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:element name="service" type="serviceType"/>
	
	<xsd:complexType name="serviceType">
		<xsd:complexContent>
			<xsd:extension base="identifiedType">
				<xsd:group ref="serviceElements"/>
				<xsd:attributeGroup ref="serviceAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="serviceElements">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="property"/>
			</xsd:choice>
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element ref="configurer"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>

	<xsd:element name="property" type="propertyType"/>

	<xsd:element name="configurer" type="configurerType"/>
	
	<xsd:complexType name="configurerType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="item"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="item" type="itemType"/>
	
	<xsd:complexType name="itemType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element ref="ref"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="key" type="xsd:string" use="required"/>
		<xsd:attribute name="ref" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
	</xsd:complexType>
	
	<xsd:complexType name="propertyType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element ref="ref"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="ref" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
	</xsd:complexType>

	<xsd:attributeGroup name="serviceAttributes">
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="class" type="xsd:string"/>
		<xsd:attribute name="lazy-init" type="xsd:boolean" default="true"/>
		<xsd:attribute name="parent" type="xsd:string"/>
		<xsd:attribute name="abstract" type="xsd:boolean" default="false"/>
		<xsd:attribute name="depends-on" type="xsd:string"/>
		<xsd:attribute name="autowire-candidate" type="xsd:boolean" default="true"/>
		<xsd:attribute name="primary" type="xsd:boolean"/>
		<xsd:attribute name="init-method" type="xsd:string"/>
		<xsd:attribute name="destroy-method" type="xsd:string"/>
		<xsd:attribute name="factory-method" type="xsd:string"/>
		<xsd:attribute name="factory-bean" type="xsd:string"/>
		<xsd:attribute name="dependency-check" type="xsd:string"/>
		<xsd:attribute name="autowire" default="byName">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="no"/>
					<xsd:enumeration value="byName"/>
					<xsd:enumeration value="byType"/>
					<xsd:enumeration value="constructor"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="scope" default="singleton">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="singleton"/>
					<xsd:enumeration value="prototype"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:element name="ref">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:attribute name="service" type="xsd:string"/>
					<xsd:attribute name="bean" type="xsd:string"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>